
h1 {
    text-align: center;
    font-family: "Amatic SC";
    font-size: 100px;
    color: #FFE79B;
    background-color: #40128B;
}

h2 {
    font-family: "Amatic SC";
    font-size: 50px;
    background-color: #9336B4;
    color: #DD58D6;
}

.total {
    text-align: center;
    font-size: 30px;
}